{% extends 'base.html' %}

{% load static %}

{% block title%}Product{% endblock %}

{% block content %}

<div class="contactus">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="title">
               <h2>Our Product</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="ourproduct">
   <div class="container">
      <div class="row product_style_3" ">
      <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-12">
         <div class="full product">
            <div class="product_img">
               <div class="center"> <img src="icon/p1.png" alt="#" />
                  <div class="overlay_hover"> <a class="add-bt" href="product_detail3.html">+ Add to cart</a> </div>
               </div>
            </div>
            <div class="product_detail text_align_center">
               <p class="product_price">$679.89 <span class="old_price">$679.89</span></p>
               <p class="product_descr">Lightweight Down Puffer Coat</p>
            </div>
         </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
         <div class="full product">
            <div class="product_img">
               <div class="center"> <img src="icon/p2.png" alt="#" />
                  <div class="overlay_hover"> <a class="add-bt" href="product_detail3.html">+ Add to cart</a> </div>
               </div>
            </div>
            <div class="product_detail text_align_center">
               <p class="product_price">$679.89 <span class="old_price">$679.89</span></p>
               <p class="product_descr">Lightweight Down Puffer Coat</p>
            </div>
         </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
         <div class="full product">
            <div class="product_img">
               <div class="center"> <img src="icon/p3.png" alt="#" />
                  <div class="overlay_hover"> <a class="add-bt" href="product_detail3.html">+ Add to cart</a> </div>
               </div>
            </div>
            <div class="product_detail text_align_center">
               <p class="product_price">$679.89 <span class="old_price">$679.89</span></p>
               <p class="product_descr">Lightweight Down Puffer Coat</p>
            </div>
         </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
         <div class="full product">
            <div class="product_img">
               <div class="center"> <img src="icon/p4.png" alt="#" />
                  <div class="overlay_hover"> <a class="add-bt" href="product_detail3.html">+ Add to cart</a> </div>
               </div>
            </div>
            <div class="product_detail text_align_center">
               <p class="product_price">$679.89 <span class="old_price">$679.89</span></p>
               <p class="product_descr">Lightweight Down Puffer Coat</p>
            </div>
         </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
         <div class="full product">
            <div class="product_img">
               <div class="center"> <img src="icon/p1.png" alt="#" />
                  <div class="overlay_hover"> <a class="add-bt" href="product_detail3.html">+ Add to cart</a> </div>
               </div>
            </div>
            <div class="product_detail text_align_center">
               <p class="product_price">$679.89 <span class="old_price">$679.89</span></p>
               <p class="product_descr">Lightweight Down Puffer Coat</p>
            </div>
         </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
         <div class="full product">
            <div class="product_img">
               <div class="center"> <img src="icon/p2.png" alt="#" />
                  <div class="overlay_hover"> <a class="add-bt" href="product_detail3.html">+ Add to cart</a> </div>
               </div>
            </div>
            <div class="product_detail text_align_center">
               <p class="product_price">$679.89 <span class="old_price">$679.89</span></p>
               <p class="product_descr">Lightweight Down Puffer Coat</p>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

{% endblock %}